<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Wybierz tygodnie</title>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Wybierz tygodnie, na podstawie których nastąpi przewidywanie</h1>
        <form method="post" action="/train" onsubmit="return validateWeeks()">
            <div class="form-group">
                <label for="start_week">Początkowy tydzień</label>
                <select class="form-control" id="start_week" name="start_week">
                    {% for week in weeks %}
                        <option value="{{ week }}">{{ week }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="end_week">Końcowy tydzień</label>
                <select class="form-control" id="end_week" name="end_week">
                    {% for week in weeks %}
                        <option value="{{ week }}">{{ week }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Ropocznij analizę</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function validateWeeks() {
            const startWeek = document.getElementById('start_week').value;
            const endWeek = document.getElementById('end_week').value;
            if (parseInt(endWeek) <= parseInt(startWeek)) {
                alert('Końcowy tydzień musi być większy od początkowego tygodnia.');
                return false;
            }
            return true;
        }
    </script>
</body>
</html>